{% extends 'base.html' %}
{% block title %} Pokémon of the Year {% endblock %}
{% block content %}
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/pokemon_list.css' %}">
</head>
<body>
{% if pokemon_name %}
  {% include 'pokemon/search_snippet.html' with pokemon_name=pokemon_name query=query %}
{% else %}
  {% if query %}
    {% include 'pokemon/search_snippet.html' with query=query %}
  {% endif %}
{% endif %}
<h1 class='subtitle'> Pokémon of the Year </h1>
<table class='tb'>
  <tr>
    <th class='ranktitle'>Top 15</th>
    <th></th>
    <th></th>
  </tr>
  {% for pp in pokemon %}
    {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3 %}
      {% if forloop.counter == 1 %}
        <tr>
          <td class='spacing'>
            <table>
              <tr>
                <th class='top3ranktitle'>{{pp.rank}}</th>
                <th>No.{{pp.number}}</br>{{pp.pokemon_name}}</th>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="{% url 'pokemons:pokemon_id' pp.pk %}">
                    <img src="{{pp.image}}" width="220" height="220" title='{{pp.pokemon_name}}'></a>
                </td>
              </tr>
            </table>
          </td>
      {% elif forloop.counter == 2 %}
        <td class='spacing'>
          <table>
            <tr>
              <th class='top3ranktitle'>{{pp.rank}}</th>
              <th>No.{{pp.number}}</br>{{pp.pokemon_name}}</th>
            </tr>
            <tr>
              <td colspan="2">
                <a href="{% url 'pokemons:pokemon_id' pp.pk %}">
                  <img src="{{pp.image}}" width="220" height="220" title='{{pp.pokemon_name}}'></a>
              </td>
            </tr>
          </table>
        </td>
      {% elif forloop.counter == 3 %}
          <td class='spacing'>
            <table>
              <tr>
                <th class='top3ranktitle'>{{pp.rank}}</th>
                <th>No.{{pp.number}}</br>{{pp.pokemon_name}}</th>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="{% url 'pokemons:pokemon_id' pp.pk %}">
                    <img src="{{pp.image}}" width="220" height="220" title='{{pp.pokemon_name}}'></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      {% endif %} 
    {% elif forloop.counter == 4 or forloop.counter == 5 or forloop.counter == 6 %}
      {% if forloop.counter == 4 %}
        <tr>
          <td class='spacing'>
            <table>
              <tr>
                <th class='ranktitle'>{{pp.rank}}</th>
                <th>No.{{pp.number}}</br>{{pp.pokemon_name}}</th>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="{% url 'pokemons:pokemon_id' pp.pk %}">
                    <img src="{{pp.image}}" width="180" height="180" title='{{pp.pokemon_name}}'></a>
                </td>
              </tr>
            </table>
          </td>
      {% elif forloop.counter == 5 %}
        <td class='spacing'>
          <table>
            <tr>
              <th class='ranktitle'>{{pp.rank}}</th>
              <th>No.{{pp.number}}</br>{{pp.pokemon_name}}</th>
            </tr>
            <tr>
              <td colspan="2">
                <a href="{% url 'pokemons:pokemon_id' pp.pk %}">
                  <img src="{{pp.image}}" width="180" height="180" title='{{pp.pokemon_name}}'></a>
              </td>
            </tr>
          </table>
        </td>
      {% elif forloop.counter == 6 %}
          <td class='spacing'>
            <table>
              <tr>
                <th class='ranktitle'>{{pp.rank}}</th>
                <th>No.{{pp.number}}</br>{{pp.pokemon_name}}</th>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="{% url 'pokemons:pokemon_id' pp.pk %}">
                    <img src="{{pp.image}}" width="180" height="180" title='{{pp.pokemon_name}}'></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      {% endif %} 
    {% elif forloop.counter == 7 or forloop.counter == 8 or forloop.counter == 9 %}
      {% if forloop.counter == 7 %}
        <tr>
          <td class='spacing'>
            <table>
              <tr>
                <th class='ranktitle'>{{pp.rank}}</th>
                <th>No.{{pp.number}}</br>{{pp.pokemon_name}}</th>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="{% url 'pokemons:pokemon_id' pp.pk %}">
                    <img src="{{pp.image}}" width="180" height="180" title='{{pp.pokemon_name}}'></a>
                </td>
              </tr>
            </table>
          </td>
      {% elif forloop.counter == 8 %}
        <td class='spacing'>
          <table>
            <tr>
              <th class='ranktitle'>{{pp.rank}}</th>
              <th>No.{{pp.number}}</br>{{pp.pokemon_name}}</th>
            </tr>
            <tr>
              <td colspan="2">
                <a href="{% url 'pokemons:pokemon_id' pp.pk %}">
                  <img src="{{pp.image}}" width="180" height="180" title='{{pp.pokemon_name}}'></a>
              </td>
            </tr>
          </table>
        </td>
      {% elif forloop.counter == 9 %}
          <td class='spacing'>
            <table>
              <tr>
                <th class='ranktitle'>{{pp.rank}}</th>
                <th>No.{{pp.number}}</br>{{pp.pokemon_name}}</th>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="{% url 'pokemons:pokemon_id' pp.pk %}">
                    <img src="{{pp.image}}" width="180" height="180" title='{{pp.pokemon_name}}'></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      {% endif %} 
    {% elif forloop.counter == 10 or forloop.counter == 11 or forloop.counter == 12 %}
      {% if forloop.counter == 10 %}
        <tr>
          <td class='spacing'>
            <table>
              <tr>
                <th class='ranktitle'>{{pp.rank}}</th>
                <th>No.{{pp.number}}</br>{{pp.pokemon_name}}</th>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="{% url 'pokemons:pokemon_id' pp.pk %}">
                    <img src="{{pp.image}}" width="180" height="180" title='{{pp.pokemon_name}}'></a>
                </td>
              </tr>
            </table>
          </td>
      {% elif forloop.counter == 11 %}
        <td class='spacing'>
          <table>
            <tr>
              <th class='ranktitle'>{{pp.rank}}</th>
              <th>No.{{pp.number}}</br>{{pp.pokemon_name}}</th>
            </tr>
            <tr>
              <td colspan="2">
                <a href="{% url 'pokemons:pokemon_id' pp.pk %}">
                  <img src="{{pp.image}}" width="180" height="180" title='{{pp.pokemon_name}}'></a>
              </td>
            </tr>
          </table>
        </td>
      {% elif forloop.counter == 12 %}
          <td class='spacing'>
            <table>
              <tr>
                <th class='ranktitle'>{{pp.rank}}</th>
                <th>No.{{pp.number}}</br>{{pp.pokemon_name}}</th>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="{% url 'pokemons:pokemon_id' pp.pk %}">
                    <img src="{{pp.image}}" width="180" height="180" title='{{pp.pokemon_name}}'></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      {% endif %} 
    {% elif forloop.counter == 13 or forloop.counter == 14 or forloop.counter == 15 %}
      {% if forloop.counter == 13 %}
        <tr>
          <td class='spacing'>
            <table>
              <tr>
                <th class='ranktitle'>{{pp.rank}}</th>
                <th>No.{{pp.number}}</br>{{pp.pokemon_name}}</th>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="{% url 'pokemons:pokemon_id' pp.pk %}">
                    <img src="{{pp.image}}" width="180" height="180" title='{{pp.pokemon_name}}'></a>
                </td>
              </tr>
            </table>
          </td>
      {% elif forloop.counter == 14 %}
        <td class='spacing'>
          <table>
            <tr>
              <th class='ranktitle'>{{pp.rank}}</th>
              <th>No.{{pp.number}}</br>{{pp.pokemon_name}}</th>
            </tr>
            <tr>
              <td colspan="2">
                <a href="{% url 'pokemons:pokemon_id' pp.pk %}">
                  <img src="{{pp.image}}" width="180" height="180" title='{{pp.pokemon_name}}'></a>
              </td>
            </tr>
          </table>
        </td>
      {% elif forloop.counter == 15 %}
          <td class='spacing'>
            <table>
              <tr>
                <th class='ranktitle'>{{pp.rank}}</th>
                <th>No.{{pp.number}}</br>{{pp.pokemon_name}}</th>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="{% url 'pokemons:pokemon_id' pp.pk %}">
                    <img src="{{pp.image}}" width="180" height="180" title='{{pp.pokemon_name}}'></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      {% endif %}
    {% endif %}
  {% endfor %}
</table>
 
<p></p>

</body>
{% endblock content %}