{% extends 'base.html' %}
{% block content %}
{% load static %}
<style type="text/css">
	.card{
		max-width: 700px;
		width: 100%;
	}
	.card-body{
		padding: 20px;
    }
    .card-footer{
        padding: 10px 0 0 20px;
    }
</style>
<br/>
{% for blog in blog_list %}
    <div class="container">
        <div class="row">
            <!-- Blog Post -->
            <div class="card m-auto">
                <a href="{% url 'pokemons:blog_id' blog.pk %}">
                    <img class="card-img-top" src="{{ blog.image }}">
                </a>
                <div class="card-body mt-2 mb-2">
                    <a href="{% url 'pokemons:blog_id' blog.pk %}">
                        <h2 class="card-title">{{blog.title}}</h2>
                    </a>
                    <p class="card-text">{{blog.body|safe|truncatechars:250}}</p>
                </div>
                <div class="card-footer">
                    <!-- text-muted -->
                    <p>Featured Pokemon(s):
                        {% for p in blog.pokemon.all %}
                            <a href="{% url 'pokemons:pokemon_id' p.pk %}">{{ p }}</a>
                            {% if forloop.counter != blog.pokemon.count %}
                                ,
                            {% endif %}
                        {% endfor %}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endfor %}
{% endblock content %}