{% extends 'base.html' %}
{% block title %} Movies {% endblock %}
{% block content %}
<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/movie_list.css' %}">
</head>
<body>
<h1 class='subtitle'> Movies </h1>
<table align="center">
  <tr>
    {% for mm in object_list %}
    {% if mm.title == 'Mewtwo Strikes Back' or mm.title == 'The Power of One' or mm.title == 'Spell of the Unown'%}
    <td align="center" class="zoom test"><a href="{% url 'pokemons:movie_id' mm.pk %}">
      <img src="{{mm.image}}" class='img'></a></td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for mm in object_list %}
    {% if mm.title == 'Mewtwo Strikes Back' or mm.title == 'The Power of One' or mm.title == 'Spell of the Unown'%}
    <td align="center" class="dist"><font size='4'>{{mm.title}}</font></td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for mm in object_list %}
    {% if mm.title == 'Celebi - Voice of the Forest' or mm.title == 'Pokémon Heroes- Latios and Latias' or mm.title == 'Jirachi - Wish Maker'%}
    <td align="center" class="zoom"><a href="{% url 'pokemons:movie_id' mm.pk %}">
      <img src="{{mm.image}}" class='img'></a></td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for mm in object_list %}
    {% if mm.title == 'Celebi - Voice of the Forest' or mm.title == 'Pokémon Heroes- Latios and Latias' or mm.title == 'Jirachi - Wish Maker'%}
    <td align="center" class="dist"><font size='4'>{{mm.title}}</font></td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for mm in object_list %}
    {% if mm.title == 'Destiny Deoxys' or mm.title == 'Lucario and the Mystery of Mew' or mm.title == 'Pokemon Ranger and the Temple of the Sea'%}
    <td align="center" class="zoom"><a href="{% url 'pokemons:movie_id' mm.pk %}">
      <img src="{{mm.image}}" class='img'></a></td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for mm in object_list %}
    {% if mm.title == 'Destiny Deoxys' or mm.title == 'Lucario and the Mystery of Mew' or mm.title == 'Pokemon Ranger and the Temple of the Sea'%}
    <td align="center" class="dist"><font size='4'>{{mm.title}}</font></td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for mm in object_list %}
    {% if mm.title == 'The Rise of Darkrai' or mm.title == 'Giratina and the Sky Warrior' or mm.title == 'Arceus and the Jewel of Life'%}
    <td align="center" class="zoom"><a href="{% url 'pokemons:movie_id' mm.pk %}">
      <img src="{{mm.image}}" class='img'></a></td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for mm in object_list %}
    {% if mm.title == 'The Rise of Darkrai' or mm.title == 'Giratina and the Sky Warrior' or mm.title == 'Arceus and the Jewel of Life'%}
    <td align="center" class="dist"><font size='4'>{{mm.title}}</font></td>
    {% endif %}
    {% endfor %}
  </tr>
</table>

<p></p>
</body>
{% endblock content %}