.head {
    text-align: center;
    height: 100px;
    font-size: 60px;
    background-image: linear-gradient(rgb(247, 156, 156), rgb(250, 166, 166), rgb(245, 179, 179));
}

.grid-container {
    margin: 0 auto;
    max-width: 1220px;
}

.topnav {
    color: black;
    padding: 0.5cm 0 0.5cm 0;
    border-bottom: 1px solid rgb(199, 199, 199);
    margin: 0 15% 0 15%;
    border-width:1px 0;
    font-size: 20px;
    text-align:center;
    background-color: #f2f2f2;
    /* background-image: linear-gradient(rgb(255, 191, 191), rgb(255, 191, 191), rgb(255, 191, 191)); */

}

.topnav li{
    display:inline;
}
.topnav a {
    display:inline-block;
    margin: 0 2px 0 2px;
    padding:10px 5px 10px 5px;
    text-decoration: none;
}
  
.topnav a.text:hover {
    background-color: gold;
    color: black;
}

.topnav a:link {color: black;}
.topnav a:visited {color: black;}
.topnav a:active {color: black;}

.bottompage {
    margin: 0 15% 0 15%;
    color: grey;
}

.contact_img {
    width: 30px;
    height: 30px;
}

.spacing {
    margin: 50px 5px 0 5px;
}

form {
    width: 100%;
}
