.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3cm;
    width: 25%;
  }

.textcenter {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.videocenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4cm;
    margin-bottom: 0.4cm;
    width: 60%;
}  
p {
    padding-top: 0.3cm;
    padding-bottom: 0.3cm;
    padding-right: 0.5cm;
}

.tb {
    margin: 0 10% 0 10%;
}

.caption {
  font-size: 25px;
  text-align: center;
}

.column {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: left;
    width: 40%;
  }
  
.row::after {
    content: "";
    clear: both;
    display: inline-block;
  }

.pink{color: rgb(235, 146, 243);}
.green{color:green;}

.pkimg {
  max-width:100%;
  max-height:100%;
  height:auto;
}

body {
  padding-bottom: 100px;
}