#tt {
    display: inline; 
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.summmary {margin-right: 0.5cm;}

.img {
    margin-right: 1cm;
    margin-left: 1cm;
    float: right;
    width: 200px;
    height: 290px;
}

.pkimg {
    max-width:100%;
    height:auto;
}

.dist {
    margin: 0 0 20px 0;
}