#title {
    text-align: center;
    margin-top: 0.5cm;
    font-size: 50px;
}

.img {
    /* max-width: 50%; */
    height: 285px;
    width: 200px;
    background-size: cover;
}

.zoom {
    padding: 20px 0 20px 0;
    transition: transform .2s;
}
  
.zoom:hover {
    transform: scale(1.2); 
}

.dist {
    padding: 10px 0 10px 0;
}