.subtitle {
    margin: 0.3cm 0 0.3cm 0;
    text-align: center;
    font-size: 40px;
}

.bound {
    margin: 0 10% 0 10%;
}

.leftmargin {
    margin: 0.3cm 0 0 10%;
}

.imageprop {
    display: inline;
    margin: 0 10% 0 0;
}

.change {
    display: inline;
    margin: 0 10%;
}

.img {
    float: right;
    width: 230px;
    height: 328px;
    display:block;
    margin: 0 auto;

}

.pkimg {
    max-width:100%;
    height:auto;
}

.date {
    text-align: center;
}

.dist {
    margin: 0.3cm 0 20px 10%;
}

.tmp {
    float: right;
    display: inline;
    margin: 0 5% auto auto;
    border-collapse: separate;
    border-spacing: 15px;

}