.nametitle {
    margin: 0.3cm 0 0.3cm 0;
    text-align: center;
    font-size: 40px;
}

.bound {
    margin: 0 10% 0 10%;
}

.maintable {
    margin: 0.3cm 10% 0 0.3cm;
    border-collapse: separate;
    border-spacing: 15px;
    border-radius: 10px;
    text-align: center;
}

.leftmargin {
    margin: 0.3cm 0 0 10%;
}

table, td, th {
    border: 2px solid black;
  }


.img {
    margin: 1cm 1cm 1cm 1cm;
    float: right;
}

.formtable {
    margin: 0.3cm 0.1cm 0 0.3cm;
    padding: 0 0.1cm 0 0.1cm;
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 5px;
    border-radius: 10px;
    text-align: center;
}

.formtitle {
    border-color: transparent;
    text-align: center;
}
.formname{
    padding: 0 0.2cm 0 0.2cm;
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 20px;
    border-radius: 20px;
    text-align: center;
}

.formname:link, .formname:visited, .formname:active {text-decoration: underline;}
.formname:hover {
    text-decoration: underline;
    font-weight: bold;
}

.bgnormal {background-color: rgb(197, 197, 197) !important;}
.bgground {background-color: rgb(197, 141, 76) !important;}
.bgdark {background-color: rgb(116, 114, 114) !important;}
.bgfairy {background-color: pink !important;}
.bgpsychic {background-color: rgb(255, 143, 161) !important;}
.bgghost {background-color: rgb(120, 98, 155) !important;}
.bgfire {background-color: rgb(253, 96, 68) !important;}
.bgpoison {background-color: rgb(190, 78, 235) !important;}
.bggrass {background-color: rgb(62, 219, 48) !important;}
.bgelectric {background-color: rgb(252, 252, 96) !important;}
.bgsteel {background-color: rgb(93, 93, 121) !important;}
.bgwater {background-color: rgb(94, 172, 245) !important;}
.bgfighting {background-color: rgb(248, 99, 12) !important;}
.bgflying {background-color: rgb(161, 229, 238) !important;}
.bgdragon {background: rgb(35, 156, 236) !important;}
.bgice {background-color: rgb(138, 197, 224) !important;}
.bgrock {background-color: rgb(241, 178, 60) !important;}
.bgbug {background-color: rgb(237, 250, 61) !important;}

.bgname {
    background-color: white !important;
    padding: 0.2cm 0 0.2cm 0;
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 15px;
    border-radius: 10px;
    text-align: center;
}

.bgtype {
    background-color: white !important;
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 15px;
    border-radius: 10px;
    text-align: center;
}

.subbox {
    background-color: white !important;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border-spacing: 3px;
    border-collapse: separate;
    text-align: center;
}

#chaintable {
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 5px;
}

#insideframe {
    border-color: white;
}

#imgtable {
    border-radius: 20px;
    border-spacing: 5px;
    border-collapse: separate;
    border-color: white;
    width: 100%;
}

.imgbound {
    border: 2px solid black;
    border-radius: 50%;
}

#nametable {
    border-radius: 20px;
    border-collapse: separate;
    border-color: white;
    table-layout: fixed;
    width: 100%;
}

.textbound {
    border-color: white;
    text-align: center;
}

.namebound {
    border-radius: 10px;
    border: 2px solid black;
}


.subbgnormal {background-color: rgb(228, 228, 228) !important;}
.subbgground {background-color: rgb(201, 169, 132) !important;}
.subbgdark {background-color: rgb(189, 189, 189) !important;}
.subbgfairy {background-color: rgb(245, 216, 221) !important;}
.subbgpsychic {background-color: rgb(247, 210, 216) !important;}
.subbgghost {background-color: rgb(137, 129, 151) !important;}
.subbgfire {background-color: rgb(252, 184, 172) !important;}
.subbgpoison {background-color: rgb(215, 171, 233) !important;}
.subbggrass {background-color: rgb(160, 219, 155) !important;}
.subbgelectric {background-color: rgb(253, 253, 170) !important;}
.subbgsteel {background-color: rgb(156, 156, 194) !important;}
.subbgwater {background-color: rgb(187, 218, 247) !important;}
.subbgfighting {background-color: rgb(247, 166, 119) !important;}
.subbgflying {background-color: rgb(206, 231, 235) !important;}
.subbgdragon {background-color: rgb(144, 196, 231) !important;}
.subbgice {background-color: rgb(199, 208, 212) !important;}
.subbgrock {background-color: rgb(241, 213, 150) !important;}
.subbgbug {background-color: rgb(245, 244, 178) !important;}



.bnormal {border: 2px solid rgb(197, 197, 197) !important; }
.bground {border: 2px solid rgb(197, 141, 76) !important;}
.bdark {border: 2px solid rgb(116, 114, 114) !important;}
.bfairy {border: 2px solid pink !important;}
.bpsychic {border: 2px solid rgb(255, 143, 161) !important;}
.bghost {border: 2px solid rgb(120, 98, 155) !important;}
.bfire {border: 2px solid rgb(253, 96, 68) !important;}
.bpoison {border: 2px solid rgb(190, 78, 235) !important;}
.bgrass {border: 2px solid rgb(62, 219, 48) !important;}
.belectric {border: 2px solid rgb(252, 252, 96) !important;}
.bsteel {border: 2px solid rgb(93, 93, 121) !important;}
.bwater {border: 2px solid rgb(94, 172, 245) !important;}
.bfighting {border: 2px solid rgb(248, 99, 12) !important;}
.bflying {border: 2px solid rgb(161, 229, 238) !important;}
.bdragon {border: 2px solid rgb(35, 156, 236) !important;}
.bice {border: 2px solid rgb(138, 197, 224) !important;}
.brock {border: 2px solid rgb(245, 187, 133) !important;}
.bbug {border: 2px solid rgb(221, 240, 117) !important;}

.arrow {
    font-size: 20px;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.buttonloc {
    padding: 0.3cm 0.5cm 0.3cm 0.5cm;
    margin: 1cm 0 0 10%;
}
.buttonloc:hover {
    text-decoration: underline;
}


.tra {
    border-color: transparent;
}


#innerchaintable {
    text-align: center;
    border-color: transparent;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 5px;
}


#specialchaintable {
    text-align: center;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 5px;
}

#inside {
    border-color: transparent;
}

body {
    padding-bottom: 100px;
}