.sidebar-nav {
    margin-top: 50px;
    padding: 0;
    list-style: none;
    background-color:green;
}

#container {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    border-bottom: white 3px solid;
}

a:link {color: blue;}
a:visited {color: blue;}
a:hover {color: blue;}
a:active {color: blue;}

#title {
    text-align: center;
    margin-top: 0.3cm;
}
