{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Search for your Pokémon!! {% endblock %}
{% block content %}
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
</head>
<body>
<h1 class='subtitle'> Search for your Pokémon!! </h1>


<!-- <h2 class="collapsible">Advance Search</h2>
  <div class="content"></div> -->
  
<div class="container" style="text-align:center;">
    <form method="GET">
      {{ filter.form|bootstrap }}
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  

  <table class='center'>
    <tr>
      {% for p in filter.qs %}
        <td>
          <table class='center'>
            <tr>
              <td align='center'>
                <a href="{% url 'pokemons:pokemon_id' p.pk %}"><img src="{{p.image}}" width="128" height="128"></a>
              </td>
            </tr>
            <tr>
              <th class='textcenter'>
                {{p.number}}. {{p.pokemon_name}}
              </th>
            </tr>
          </table>
        </td>
        {% if forloop.counter == 5 or forloop.counter == 10 or forloop.counter == 15 %}
        </tr>
        <tr>
        {% elif forloop.counter == 20 or forloop.counter == 25 or forloop.counter == 30 %}
        </tr>
        <tr>
        {% elif forloop.counter == 35 or forloop.counter == 40 or forloop.counter == 45 %}
        </tr>
        <tr>
        {% elif forloop.counter == 50 or forloop.counter == 55 or forloop.counter == 60 %}
        </tr>
        <tr>
        {% endif %}
      {% endfor %}
    </tr>
  </table>
</div>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>
</body>
{% endblock content %}