<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} {% endblock %}</title>

  {% include 'header.html' %}

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
  <header class='head'>
    <div class='grid-container'>
      <a class='header-logo'>Pokémon</a>
    </div>
  </header>

  <ul class="topnav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="verticalLine"></li>
    <li><a href="{% url 'pokemons:movie' %}">Movies</a></li>
    <li class="verticalLine"></li>
    <li><a href="{% url 'pokemons:pokemon' %}">2019 Top Pokémons</a></li>
    <li class="verticalLine"></li>
    <li><a href="{% url 'pokemons:type' %}">Type Chart</a></li>
    <li class="verticalLine"></li>
    <li><a href="{% url 'pokemons:search' %}">Search</a></li>
  </ul>

  
  {% block content %}
  {% endblock %}

  {% include 'footer.html' %}
  
</body>
</html>