<hr class='bottompage' style='margin-top: 200px;'>
  <div class='bottompage'>
    Created By: Justin Chen<br>
    Latest Update Date: 5/4/2020<br>
    Email: jchen19950114@gmail.com<br>
    <a class='spacing' href=https://www.linkedin.com/in/hung-ting-justin-chen>
      <img src="https://drive.google.com/uc?id=1-LifXJiw5auOoUEy9yweZtiTGTbqktbA" alt="LinkedIn" class='contact_img'>
    </a>
    
    <a class='spacing' href=https://github.com/jchen0114>
      <img src="https://drive.google.com/uc?id=1fqmoqPN_hmPwye_KZhsR52XMI-Ay5Ds-" alt="GitHub" class='contact_img'>
    </a>

  </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>