{% extends "base.html" %}
{% block title %} HomePage {% endblock %}
{% block content %}
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
  {% if pokemon_name %}
    {% include 'pokemon/search_snippet.html' with pokemon_name=pokemon_name query=query %}
  {% else %}
    {% if query %}
      {% include 'pokemon/search_snippet.html' with query=query %}
    {% endif %}
  {% endif %}
  
  <h3 class='textcenter'>Welcome to my website where I show past pokémon movies and special pokémons. Hope you all enjoy!!!</h3>


	{% include 'blog/blog.html' with blogs=blogs %}
					
</body>
{% endblock %}