{% extends "base.html" %}
{% block title %}
HomePage
{% endblock %}
{% block content %}
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
  <h1 id='title'> Pokémon Movies</h1>
  <p>Welcome to my website where I will show past pokémon movie summaries and show special pokémons that 
  appears in them.</p>
  <img src="media/images/Pokemon_Coco_poster.jpg" alt="Pokemon Coco Poster" class="center">
  <p><strong>The lastest pokémon movie - Coco is set to release on July, 10, 2020. (Japan)</strong></p>
    <iframe width="622" height="350" src="https://www.youtube.com/embed/tPpXk-76Ijs?controls=0" 
    frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen class="videocenter"></iframe>    
    <p>Although Coco is human, she acts like pokémons and see them as family. Her background came across to
    the Mythical Pokémon, <strong>Celebi</strong>. However the peaceful forest suddenly got attacked by unknown, as
    pokémons faces crisis once again, it also brings up the problem between human and pokémon nature.</p>
    <p> Some newly appear pokémon including <strong><span class='green'>Zarude</span></strong> and for the 
    first time <strong><span class='pink'>shiny Celebi</span></strong>.</p>

    <div class="row">
      <div class="column">
        <figure>
          <img src="media/images/Celebi_shiny_movie.png" alt="Celebi" style="width:100%">
          <figcaption><font size='5'><strong>Shiny Celebi</strong></font></figcaption>
        </figure>
      </div>
      <div class="column">
        <figure>
          <img src="media/images/Zarude_movie.png" alt="Zarude" style="width:100%">
          <figcaption><font size='5'><strong>Zarude</strong></font></figcaption>
        </figure>
      </div>
    </div>
    <p></p>
    <img src="media/images/release_coco.png" alt="Pokemon Coco Poster" class="center" 
    style="width:50%">
    <p></p>
    <p></p>

    
</body>
<!-- {% if user.is_authenticated %}
  <h1>Hello, {{ user.username }}!</h1></br>
  <a href="{% url 'logout' %}">Logout</a><br>
{% else %}
  <h1> Please Login </h1>
  <a href="{% url 'login' %}">Login Page</a>
{% endif %} -->
{% endblock %}